* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #D0CCD0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    margin-top: 50px;
    margin-bottom: 20px;

}

.heading,
.message {
    font-size: 2.5rem;
    font-weight: 700;
    color: #605856;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input {
    margin: 6px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #FBFCFF;
    background-color: #FBFCFF;
}

#square {
    height: 100px;
    min-width: 100px;
    border: 2px solid #605856;
    color: #605856;
    background-color: #FBFCFF;
    flex: 0.1;
}

#row {
    display: flex;
    justify-content: center;
    min-width: 100px;
}

.main {
    margin-top: 100px;
    width: 100dvw;
}

button {
    background-color: #274156;
    width: 100px;
    align-self: center;
    color: #FBFCFF;
    font-weight: 700;
    font-size: 1.5rem;
    border: 1px solid #274156;
    border-radius: 5px;
}

button:hover{
    background-color: #15466e;
}

#subBtn {
    margin-top: 10px;
}

#square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    font-size: 4rem;
}

#square:hover {
    background-color: #1c6e8c4f;
}

.message {
    font-size: 2rem;
    color: #1C6E8C;
    margin-bottom: 20px;
}

.foot{
    text-align: center;
    margin-top: 50px;
}